<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page }} Report</title>
</head>
<body>
<h1 style="text-align: center">{{ table }}</h1>
<table>
    <tr>
        {% for header in headers %}
            <th>
            {% if sortby == header[0] %}
                {% if order == "ASC" %}
                    <a href="{{ url_for('report', table=table, page=page, sortby=header[0], order='DESC') }}">{{ header[0] }}</a>
                {% else %}
                    <a href="{{ url_for('report', table=table, page=page, sortby=header[0], order='ASC') }}">{{ header[0] }}</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('report', table=table, page=page, sortby=header[0], order='ASC') }}">{{ header[0] }}</a>
            {% endif %}
            </th>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr>
            {% for entity in row %}
                <td>
                    {{ entity }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% for i in range(1, pages) %}
    <a href="{{ url_for('report', table=table, page=i, sortby=sortby, order=order) }}">Page {{ i }}</a>
{% endfor %}
<form action="{{ url_for('report', table=table, page=page, sortby=sortby, order=order) }}" method="post">
    {% for arg in headers %}
        {{ arg[0] }}: <input name="{{ arg[0] }}" type="text">
    {% endfor %}
    <input type="submit" value="submit">
</form>

</body>
</html>